.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  color: #afffff;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.col {
  flex: 0 0 48%; /* Adjust as per your layout needs */
  margin-bottom: 20px;
}

.text {
  font-family: 'Times New Roman';
  margin-left: 30px;
}

.card {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
}

.developer-name {
  text-align: center;
  font-weight: bold;
}
