<div class="container">
  <div class="title">
    <h2 style="text-align: center; margin-top: 2rem; padding: 0.5rem;">Who We Are</h2>
  </div>

  <div class="grid">
    <div class="row">
      <div class="col">
        <img src="https://imgs.search.brave.com/jOP24srbgNT7n-iFu-lkWP6J62ISXIRrVXUNiVZKyQE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE2/MTY1MzA5NDAzNTUt/MzUxZmFiZDk1MjRi/P2F1dG89Zm9ybWF0/JmZpdD1jcm9wJnE9/ODAmdz0xMDAwJml4/bGliPXJiLTQuMC4z/Jml4aWQ9TTN3eE1q/QTNmREI4TUh4elpX/RnlZMmg4TW54OGJX/OTJhV1Z6ZkdWdWZE/QjhmREI4Zkh3dw"
          alt="Movie Poster" style="width: 100%; height: auto; max-width: 300px;">
      </div>
      <div class="col">
        <p class="text">
          Welcome to NASSA, your premier destination for an unparalleled cinematic experience. At NASSA, we are
          dedicated to transforming your movie-going journey into a memorable and immersive adventure. As avid film
          enthusiasts ourselves, we understand the magic that happens when the lights dim, the screen comes to life,
          and captivating stories unfold. Committed to providing the ultimate in entertainment, NASSA brings you a
          carefully curated selection of the latest blockbusters, timeless classics, and exclusive releases. Our
          state-of-the-art theaters, coupled with cutting-edge technology, ensure that every frame is a spectacle to
          behold. Join us at NASSA, where passion meets the silver screen, and let the magic of cinema transport you
          to new realms.
        </p>
      </div>
    </div>
  </div>

  <div class="title">
    <h2 style="text-align: center; margin-top: 2rem; padding: 0.5rem;">Developers</h2>
  </div>

  <div class="grid developers">
    <div class="row">
      <div class="col" *ngFor="let developer of developers">
        <div class="card">
          <img class="card-image" [src]="developer.imageSrc" [alt]="developer.altText">
          <div class="card-content">
            <p class="developer-name">{{ developer.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
