@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            padding-top: 0px;
        }

        .btn-make-order {
            font-size: 1.5rem;
        }

    </style>
</head>
<body>

    <div class="container">
        <div class="text-center mt-5">
            <h1 class="display-4">Welcome</h1>
            <p>We ship your orders safely with love.</p>
        </div>

        <!-- Button to make an order -->
        <div class="text-center mt-4">
            <a href="#" class="btn btn-primary btn-lg btn-make-order">Make an Order</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCk+V4L/Z/a9+MkC4xg1tk+1f7Ag5lsmZ6yM" crossorigin="anonymous"></script>
</body>
</html>
